<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/tablet.css">
    <link rel="stylesheet" href="/css/laptop.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <title>Login</title>
</head>
<body>

    <%- include("./partials/header.ejs") %>
    
    <main class="main-register">
        <h2>Registo</h2>

        <form class="form-group" action="#" method="post">
            <div class="div-group">
                <label for="firstname">Nombre de Usuario</label>
                <input 
                    id= "firstname" 
                    type="text" 
                    name="firstname" 
                    placeholder="Nombre y Apellido"
                    required="" > <label></label>
                    
            </div>

            <div class="div-group">
                <label for= "Users">Nombre de Usuario</label>
                <input 
                    id= "Users" 
                    type="text" 
                    name="Users" 
                    placeholder="Nombre de Usuario"
                    required="" > <label></label>
            </div>

            <div class="div-group">
                <label for= "domicilio">Domicilio</label>
                <input 
                    id= "domicilio" 
                    type="text" 
                    name="domicilio" 
                    placeholder="Domicilio" >
            </div>

            <div class="div-group">
                <label class= "label-titulo" for= "fecha">Fecha de Naciemiento</label>
                
                <input 
                    id= "fecha" 
                    type="date" 
                    name="fecha" 
                    placeholder="Fecha de Naciemiento" >
            </div>

            <div class="div-group">
                <label  class= "label-titulo" >Perfil Del Usuario</label>
                
                <div class= "profileVC"><label for= "profile">vender</label>
                <input 
                    id= "profile-venta" 
                    type="checkbox"  
                    name="profile" 
                    placeholder="Profil de Usuario" 
                    value="vender">
                    <label for= "profile">comprar</label>
                <input 
                    id= "profile-compra" 
                    type="checkbox" 
                    name="profile" 
                    placeholder="Profil de Usuario"
                    value="comprar" >
                </div>
            </div>
               
            <div class="div-group">
                    <label class= "label-titulo" for= "Interes">Interes</label>
               
                    <div>
                        <label for= "Electro">Electro</label>
                        <input
                            id="Electro"
                            type="checkbox"
                            name="Interes"
                            value="Electro">
                    </div>
                    <div>
                        <label for= "Moda">Moda</label>
                        <input
                            id="Moda"
                            type="checkbox"
                            name="Interes"
                            value="Moda"> 
                    </div>
                    <div>
                        <label for= "Hogar">Hogar</label>
                        <input
                            id="Hogar"
                            type="checkbox"
                            name="Interes"
                            value="Hogar">
                    </div>
                    <div>
                        <label for= "Jugeteria">Jugeteria</label>
                        <input
                            id="Jugeteria"
                            type="checkbox"
                            name="Interes"
                            value="Jugeteria">
                    </div>
                    <div>
                        <label for= "Vida">Vida Sana</label> 
                        <input
                            id="Vida"
                            type="checkbox"
                            name="Interes"
                            value="Vida sana">
                    
                    </div>
            </div>
                    <div class="div-group">
                        <label>Foto de Usuario</label>
                        <input
                            type="file"
                            name="foto de perfil"
                            value="foto de perfil"
                            accept="jpeg, png">

                    </div>

                    <div class="div-group">
                        <label>Contraseña</label>
                        <input
                            type="password"
                            name="contraseña"
                            value="contraseña" 
                            required="" > <label></label>

                    </div>

                    <div class="div-group">
                        <label>Repetir Contraseña</label>
                        <input
                            type="password"
                            name="contraseña"
                            value="repetir-contraseña"
                            required="" > <label></label>

                    </div>

                    <div class= "botones-register">
                        <button class= "boton-color" type="submit">Enviar</button>
                        <button class= "boton-color" type="reset">Resetear</button>
                    </div>


        </form>

    </main>

    <%- include("./partials/footer.ejs") %>

</body>
</html>