<footer>
    <ul class="lista-footer">
        <div class= "container-footer">
        <div class= "icono-footer"><i class="far fa-credit-card"></i></div>
        <li>Paga con tarjeta</li>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en  puntos de pago.
             ¡Y siempre es seguro!</p>
            </div>

        <div class= "container-footer">
        <div class= "icono-footer"><i class="fas fa-gift"></i></div>
        <li>Envío gratis desde $ 2.500</li>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles deproductos. 
            Es un beneficio de Mercado Puntos.</p>
            </div>        
        
        <div class= "container-footer">   
        <div class= "icono-footer"><i class="fas fa-user-lock"></i></div>
        <li>Seguridad, de principio a fin</li>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </div> 
    </ul>
    <p class="derechos">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>