<header>
    <div class="header-media">
        <img class= "logo" src="/img/logo-mercado-liebre.svg" alt="Logo" >
            <div class= "barra">
                <input class= "busqueda" type="text" name="busqueda">
                <a href="#"><i class="fas fa-search"></i></a>
            </div>
        <h2 class= titulo> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</h2>
     </div>
    <div class= "flex-navegacion">
        <nav class= "linea">
            <ul class= "navegacion">
                <li class= "item-nav"><a href="#">Ofertas</a></li>
                <li class= "item-nav"><a href="#">Tiendas Oficiales</a></li>
                <li class= "item-nav"><a href="#">Vender</a></li>
                <li class= "item-nav"><a href="#">Ayuda</a></li>
            </ul>
        </nav>

        <nav class= "linea">
            <ul class= "navegacion">
                <li class= "item-nav"><a href= "/register" >Crea tu cuenta</a><i class="far fa-id-card"></i></li>
                <li class= "item-nav"><a href= "/login" >Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                <li class= "item-nav"><a href ="#">Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>  
    </div>
    <div class="boton"> 
        <i class="fas fa-bars"></i>
        </div>

</header>